doctype html
html
	head
		title= title
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name='description', content= description)
		if minifyAssets
			link(rel="stylesheet", href="/css/global.css")
		else
			link(rel="stylesheet", href="/css/bootstrap.css")
			link(rel="stylesheet", href="/css/app.css")
			link(rel="stylesheet", href="/css/raml.css")
			link(rel="stylesheet", href="/css/highlight.github.min.css")

	body
		
		a(href="https://github.com/fpoulin/symbiot-docs").github-ribbon
			img(src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub")

		.header
			.container
				h1 
					span.glyphicon.glyphicon-minus.rand
					span.glyphicon.glyphicon-random
					span.glyphicon.glyphicon-minus.rand
					| Symbiot


		nav.navbar.navbar-default(role="navigation")
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbarcollapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar

				#navbarcollapse.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class="#{ title == 'Welcome' ? 'active' : ''}")
							a(href="/") Home
						for s in collections.sections
							li(class="#{ menuIndex == s.menuIndex || section == s.section ? 'active' : '' }")
								a(href=s.link)
									| #{s.sectionName}
									if s.private
										i.glyphicon.glyphicon-lock

		.container
			.row
				.col-sm-3.col-sm-push-9
					block menu
						if section && subsections[section]
							h1 Sections
							hr
							ul.nav.subnav
								for subsection in subsections[section]
									li(class="#{ title == subsection.title ? 'active' : '' }")
										a(href=subsection.link)
											| #{subsection.title}
											if subsection.private
												i.glyphicon.glyphicon-lock

				.col-sm-9.col-sm-pull-3
					a(id="top")
					h1= title
					hr
					block body
						div!= contents

		block canvas

		.footer
			.container
				p 
					a(href="https://github.com/fpoulin/symbiot-docs")=name
					| &nbsp;- #{description}
				p Version: #{version}  |  Built #{creationDate}

		if minifyAssets
			script(type="text/javascript", src="/js/global.js")
		else
			script(type="text/javascript", src="/js/jquery.min.js")
			script(type="text/javascript", src="/js/bootstrap.js")
			script(type="text/javascript", src="/js/smoothscroll.js")
			script(type="text/javascript", src="/js/app.js")
			block moreJsLibs

		block moreLibs
